
    /* Basic CSS Setup */
    body {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      background-color: #e5e5e5;
      padding: 50px;
    }

    #odometer {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      position: relative;
      z-index: 10;
    }

    .digit-container {
      position: relative;
      width: 100px; /* Slot width */
      height: 100px; /* Slot height */
      overflow: hidden;
      margin: 0 5px;
      border: 1px solid #8d6063;
      border-radius: 5px;
      background-color: #f9f9f9;
    }

    .digit-container .digit {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      text-align: center;
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .digit-container div {
      height: 100px;
      line-height: 100px;
      font-size: 6rem;
      font-family: 'Roboto', sans-serif;
      color: #154c79;
    }

    .digit-container div:nth-child(even) {
      background-color: #8d6063;
      color: #fff;
    }

    .digit-container div:nth-child(odd) {
      background-color: #154c79;
      color: #fff;
    }

    .button-container {
      margin-top: 20px;
    }

    #startButton {
      padding: 10px 20px;
      background-color: #16f358;
      color: white;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 5px;
    }

    #stopButton {
      padding: 10px 20px;
      background-color: #ff1919;
      color: white;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 5px;
    }

    #resetButton {
      padding: 10px 20px;
      background-color: #ffd51d;
      color: white;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      border-radius: 5px;
    }

    button:hover {
      background-color: #8d6063;
    }
    button:disabled {
      opacity: 0.3; /* Makes the button semi-transparent */
      pointer-events: none; /* Disables clicking on the button */
      transition: opacity 0.3s ease; /* Adds a smooth transition for the opacity */
    }
    
    button {
      transition: opacity 0.3s ease; /* Smooth transition for normal button states */
    }
    